[Unit]
# Copy the timer and service files to /etc/systemd/system and activate
# for each script definition (with credentials and other settings) like:
#   systemctl enable backup-github@ghbu-Username.timer
#
# Note there is no activation for the "service", it is only called by timer
#
# You can however run it manually for one-off tests, like
#   systemctl start backup-github@ghbu-Username.service
# which should ensure that a copy only runs once at a time.
#
# Wraps instance scripts e.g. "ghbu-Username.sh"
# as backup-github@ghbu-Username.service
Description=GitHub backup routine for %i (timer)

[Timer]
OnCalendar=weekly
AccuracySec=24h
Persistent=true

[Install]
WantedBy=timers.target
